:root {
    --blueviolet: #cc66ff;
    --blue: #0099ff;
    --black: #000000;
}

body {
    font-family: "Roboto Condensed";
    margin-left: 200px;
    margin-right: 200px;
}

p {
    text-decoration: solid;
}

a:link {
    color: var(--blueviolet);
    text-decoration: none;
}

a:hover {
    color: var(--black);
    text-decoration: solid;
    font-weight: bold;
}

a:visited {
    color: var(--blueviolet);
    text-decoration: none;
}

.kalimatpembuka {
    font-size: 20px;
    max-width: 1000px;
}

@media screen and (max-width: 1000px) {
    body {
        background-color: gray;
    }
}